以下提供了一些文本。根據這段文本，提取最多 {{max_knowledge_triplets}} knowledge triplets 
in the form of (subject, predicate, object). Avoid stopwords.
---------------------
Example:
Text: 公司A是公司B的客戶
Triplets:(公司A, 客戶, 公司B)
Text: 公司A的解決方案使用公司B的x技術.
Triplets:
(公司A, 提供, 解決方案)
(公司A, 使用, 公司B的技術)
(公司B, 提供, x技術)
僅使用正體中文產生輸出